<%- include('partials/header') %>
<h1>Blog</h1>
<ul>
  <% posts.forEach(post => { %>
    <li>
      <a href="/blog/<%= post.id %>"><%= post.title %></a>
      <p><%= post.content.substring(0, 100) %>...</p>
      <small>By <%= post.author %> on <%= new Date(post.date).toLocaleDateString() %></small>
    </li>
  <% }); %>
</ul>

<a href="/">← Back to home</a>

<%- include('partials/footer') %>